<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  <section class="">
    <div class="container text-center text-md-start mt-5 d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Aldo Becerra
          </h6>
          <p>
            This is a Angular project with Springboot backend. For security reasons the backend
            use JWT tokens for authentication and Spring Security for authorization.

          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Resources
          </h6>
          <p>
            <a href="https://angular.io/guide/update-to-version-16" target="_blank" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="https://spring.io/blog/2022/05/24/preparing-for-spring-boot-3-0" target="_blank" class="text-reset">Springboot</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="https://github.com/Aldo1609/login-awt-front" target="_blank" class="text-reset">Front-End</a>
          </p>
          <p>
            <a href="https://github.com/Aldo1609/login-jwt" target="_blank" class="text-reset">Back-End</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="fab fa-linkedin"></i> 
            <a href="https://www.linkedin.com/in/aldo-isaias-becerra-campos-591621200/" target="_blank" class="text-decoration-none custom-link-color"> My Linkedin</a>
          </p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            aldoisaias1609@gmail.com   </p>
          <p>
            <i class="fab fa-github"></i> 
            <a href="https://github.com/Aldo1609?tab=repositories" target="_blank" class="text-decoration-none custom-link-color"> My Linkedin</a>
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-reset fw-bold">Aldo Becerra</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->